%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv': 'X-UA-Compatible' }
    %title
      Third World Programmer
      = ' - ' + current_article.title unless current_article.nil?
    = feed_tag :atom, '#{blog.options.prefix.to_s}/feed.xml', title: 'Atom Feed'
    = stylesheet_link_tag 'site'
    = javascript_include_tag 'site'
  %body
    %main#main{ role: 'main', class: 'container-outer' }
      %main#content-area{ class: 'content-area' }
        = yield
      = partial('partials/sidebar')