---
pageable: true
---

%h1
  Archive For
  - case page_type
    - when 'day'
      = Date.new(year, month, day).strftime('%b %e %Y')
    - when 'month'
      = Date.new(year, month, 1).stftime('%b %Y')
    - when 'year'
      = year

- if paginate && num_pages > 1
  %p= "Page #{page_number} of #{num_pages}"
  - if prev_page
    %p= link_to('Previous Page', prev_page)

%ul
  - page_articles.each_with_index do |article, idx|
    %li
      = link_to(article.title, article)
      %span= article.date.strftime('%b %e')

- if paginate
  - if next_page
    %p= link_to('Next Page', next_page)
